@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

:root {
  --light-primary: #ffffff;
  --light-secondary: #f9f9f9;
  --light-tertiary: #e0e0e0;
  --typography-light: #000000;
  --dark-primary: #1f1f1f;
  --dark-secondary: #252526;
  --dark-tertiary: #3b3b3c;
  --typography-dark: #ffffff;
}

.App {
  width: 100%;
  height: 100vh;
}
.app-light {
  color: var(--typography-light);
  background-color: var(--light-primary);
}
.app-dark {
  color: var(--typography-dark);
  background-color: var(--dark-primary);
}
