.collection {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px 0;
  top: 0;
  right: 0;
  width: calc(100% - 261px);
  align-items: center;
}
.collection-light {
  color: var(--typography-light);
  background-color: var(--light-primary);
}
.collection-dark {
  color: var(--typography-dark);
  background-color: var(--dark-primary);
}
.collection-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 15px;
  width: calc(95% - 30px * 2);
  justify-content: center;
  border-radius: 12px 12px 12px 12px;
}
.collection-cards-light {
  background-color: var(--light-secondary);
  border: 1px solid var(--light-tertiary);
}
.collection-cards-dark {
  background-color: var(--dark-secondary);
  border: 1px solid var(--dark-tertiary);
}
.collection-tilt {
  display: inline-block;
}
.collection-card {
  margin: 10px 15px;
  height: 205px;
  border-radius: 6px;
  background-color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 1025px) {
  .collection {
    margin-top: 60px;
    width: 100%;
  }
  .collection-tilt {
    transform: none;
  }
  .collection-card {
    height: 175px;
  }
}
