.collection {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px 0;
  top: 0;
  right: 0;
  width: calc(100% - 261px);
  align-items: center;
}
.collection-light {
  color: var(--typography-light);
  background-color: var(--light-primary);
}
.collection-dark {
  color: var(--typography-dark);
  background-color: var(--dark-primary);
}
.collection-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 15px;
  width: calc(95% - 30px * 2);
  justify-content: center;
  border-radius: 12px 12px 12px 12px;
}
.collection-cards-light {
  background-color: var(--light-secondary);
  border: 1px solid var(--light-tertiary);
}
.collection-cards-dark {
  background-color: var(--dark-secondary);
  border: 1px solid var(--dark-tertiary);
}
.react-card-flip {
  margin: 10px 10px;
}
.collection-button {
  border: none;
  background-color: transparent;
}
.collection-card {
  width: 133px;
  height: 200px;
  border-radius: 6px;
}
.collection-card-light {
  color: var(--typography-light);
  box-shadow: #e6e6e7 0px 2px 8px 0px;
}
.collection-card-dark {
  color: var(--typography-dark);
  box-shadow: #39393b 0px 2px 8px 0px;
}
.collection-card > p {
  margin: 0;
}

@media (max-width: 1025px) {
  .collection {
    margin-top: 60px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .collection-card {
    width: 116px;
    height: 174px;
  }
}
@media (max-width: 374px) {
  .collection-card {
    width: 90px;
    height: 135px;
  }
}
