.profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px 0;
  top: 0;
  right: 0;
  width: calc(100% - 261px);
  align-items: center;
}
.profile-light {
  color: var(--typography-light);
  background-color: var(--light-primary);
}
.profile-dark {
  color: var(--typography-dark);
  background-color: var(--dark-primary);
}
.profile-title {
  align-self: flex-start;
  font-size: 2em;
  margin-left: calc(5% + 5px);
  margin-top: 15px;
  margin-bottom: 10px;
}
.profile-hr {
  width: 90%;
}
.profile-hr-light {
  border: none;
  border-bottom: 1.5px solid var(--light-tertiary);
}
.profile-hr-dark {
  border: none;
  border-bottom: 1.5px solid var(--dark-tertiary);
}
.profile-information {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  width: 90%;
}
.profile-userinfo {
  display: flex;
}
.profile-avatar {
  width: 180px;
  height: 180px;
  border-radius: 4px;
}
.profile-username {
  margin: 10px 0px 10px 20px;
}
.profile-userid {
  margin: 0px 0px 0px 20px;
}
.profile-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1025px) {
  .profile {
    margin-top: 60px;
    width: 100%;
  }
}
